@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Edu+TAS+Beginner&family=Fredoka+One&family=Ibarra+Real+Nova:ital,wght@1,600&family=Lato:ital,wght@0,900;1,300&family=Montserrat:wght@100&family=Oswald:wght@700&family=Raleway:ital,wght@1,100&family=Roboto:wght@500;700;900&family=Source+Sans+Pro:wght@700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
